*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

/************************** Navigation***********************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidenav a {
    padding: 8px 8px 40px 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*********************************Footer***********************/
.footer {
    height: 120px;
    width: 100%;
    background-color: #111;
    position: static;
    margin-top: 30px;
}

.logo_footer {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.email {
    color: white;
    text-align: center;
}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bag {
    width: 70%;
    margin-left: -75px;
    display: block;
}

.descript {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

.bagtwo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.pagetitle {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.bagright {
    width: 50%;
    float: right;
    margin-top: -150px;
}



.descriptempty {
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.pagetitleleft {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.container {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

/*********************Products subpage*************************/
.filterDiv {
    float: left;
    background-color: gray;
    color: black;
    width: 50%;
    line-height: 100px;
    text-align: center;
    display: none;
    height: 250px;
    margin-bottom: -50px;
    font-size: 30px;
}

/*******The "show" class is added to the filtered elements********/
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 2% 3%;
    width: 100%;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-top: 10px;
}

/**************Add a light grey background HOVERING****************/
.btn:hover {
    background-color: #ddd;
}

/***************Dark background when the button is active **********/
.btn.active {
    background-color: #666;
    color: white;
}

.pagetitlecontact {
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

#myBtnContainer {
    width: 85%;
    margin: 30px auto 20px auto;

}

/********Elements container backgrounds on "Products" subpage******/
.one {
    background-image: url(IMAGES/U4-haupt_600x600.jpg);
    background-position: center;
    /* Center the image */
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: white;
}

.two {
    background-image: url(IMAGES/2M43-26-23_haupt-handtasche-leder_600x600.jpg);
    background-position: center;
    /* Center the image */
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: white;
}

.three {
    background-image: url(IMAGES/2M69-48-5-haupt_600x600.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.four {
    background-image: url(IMAGES/U18n-1-haupt59a6bc9396ea8.jpg);
    background-position: center;
    /* Center the image */
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: white;
}

.six {
    background-image: url(IMAGES/R27b-Hauptbild5a7ad98e12451_600x600.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.five {
    background-image: url(IMAGES/luggage2.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.seven {
    background-image: url(IMAGES/luggage3.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.eight {
    background-image: url(IMAGES/luggage4.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.nine {
    background-image: url(IMAGES/bike1.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.ten {
    background-image: url(IMAGES/bike2.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.eleven {
    background-image: url(IMAGES/bike3.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.twelve {
    background-image: url(IMAGES/bike4.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.third {
    background-image: url(IMAGES/stationery4.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.fifth {
    background-image: url(IMAGES/stationery3.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.sixth {
    background-image: url(IMAGES/stationery2.jpg);
    background-position: center;
    /* Center the image */
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.fourth {
    background-image: url(IMAGES/stationery1.jpg);
    background-position: center;
    /* Center the image */
    background-size: 55%;
    background-repeat: no-repeat;
    background-color: white;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 20px auto;

}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #bbb;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-align: center;
    height: 250px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#hands {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;

}

#plant {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 173px;
    margin-top: 50px;
}


#arrow {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*************Media changing to desktop version*******/
@media screen and (min-width: 600px) {
    .sidenav {
        padding-top: 70px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .logo {
        width: 400px;
    }

    .sidenav a {
        font-size: 40px;
    }

    .bag {
        width: 40%;
        padding: 40px 0 40px 0;
    }

    .bagtwo {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .bagright {
        width: 45%;
        float: right;
        margin-top: -450px;
    }

    .pagetitleleft {
        text-align: center;
        font-size: 30px;
        width: 100%;
    }

    .descriptempty {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    .pagetitle {
        padding-left: 6%;
        padding-right: 6%;
    }

    .two,
    .seven,
    .eight,
    .five,
    .one,
    .three,
    .four,
    .six,
    .nine,
    .ten,
    .eleven,
    .twelve,
    .third,
    .fifth,
    .sixth {
        background-size: 50%;
    }

    .fourth {
        background-size: 35%
    }

    .container {
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
    }

    .filterDiv {
        height: 500px;
    }

    #myBtnContainer {
        width: 92%;
        margin: 0 auto 20px auto;
    }

    .btn {
        width: 19.5%;

    }

    #plant {
        width: 20%;
        height: 70%;
    }

    #hands {
        width: 12%
    }

    .description {
        padding: 15px;
        font-size: 20px;
        width: 60%;
        float: right;
    }

    .nearlogo {
        margin-top: 90px;
    }

    #arrow {
        width: 5%;
    }

    .icon_text {
        width: 70%;
    }
}

.description {
    padding: 15px;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

#goat {
    width: 30%;
    margin-left: 40px;
    margin-top: -80px;
}

.descripts {

    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 100%;
}

.icon_text {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 90%;
    margin: auto;
}
